<app-menu></app-menu>
<div class="formulario">
    <form [formGroup]="formularioDojo" class="custom-form">
        <h1>
            {{titulo}}
        </h1>
        <div class="example-container">
            Nombre: <br>
            <input *ngIf="control" type="text" matInput placeholder="{{dojo.nombre}}" formControlName="nombre" (ngModel)="dojo.nombre" required required pattern="[A-Za-z]+" minlength="1">
            <input *ngIf="!control" type="text" placeholder="{{dojo.nombre}}" formControlName="nombre" value="{{dojo.nombre}}">
        </div>
        <div class="example-container">
            País: <br>
            <input *ngIf="control" type="text" matInput placeholder="{{dojo.pais}}" formControlName="apellido" (ngModel)="dojo.pais" required required pattern="[A-Za-z]+" minlength="1">
            <input *ngIf="!control" type="text" matInput placeholder="{{dojo.pais}}" formControlName="apellido" (ngModel)="dojo.pais" pattern="[A-Za-z]+" minlength="1">
        </div>
        <div class="example-container">
            Domicilio: <br>
            <input *ngIf="control" type="text" matInput placeholder="{{dojo.domicilio}}" formControlName="domicilio" (ngModel)="dojo.domicilio" required required pattern="[A-Za-z0-9]+" minlength="1">
            <input *ngIf="!control" type="text" matInput placeholder="{{dojo.domicilio}}" formControlName="domicilio" (ngModel)="dojo.domicilio" pattern="[A-Za-z0-9]+" minlength="1">
        </div>
        <div class="example-container">
            Calle: <br>
            <input *ngIf="control" type="text" matInput placeholder="{{dojo.calle}}" formControlName="calle" (ngModel)="dojo.calle" required required pattern="[A-Za-z0-9]+" minlength="1">
            <input *ngIf="!control" type="text" matInput placeholder="{{dojo.calle}}" formControlName="calle" (ngModel)="dojo.calle" pattern="[A-Za-z0-9]+" minlength="1">
        </div>
        <br>
        <button *ngIf="control" type="submit" class="btn btn-dark" color="primary" aria-label="icon azul" (click)="alta()">Enviar</button>
        <button *ngIf="!control" type="submit" class="btn btn-dark" color="primary" aria-label="icon azul" (click)="editar()">Editar</button>
        <button class="btn btn-dark" color="secondary" aria-label="icon azul" (click)="cancelar()">Cancelar</button>
    </form>
</div>
<app-footer></app-footer>